<footer class="footer">
  <div class="container">
    <button *ngIf="imlogin" mat-icon-button class="btn-set" (click)="goFooter()"><mat-icon>settings_ethernet</mat-icon></button>
    <div class="footer-top">
      <div class="footer-block">
        <h4>Contact</h4>
        <div class="footer-cont">
          <div class="contact"><mat-icon>phone</mat-icon><a href="tel:{{ (myinfo | async)?.phone }}">{{ (myinfo | async)?.phone }}</a></div>
          <div class="contact"><mat-icon>email</mat-icon><a href="mailto:{{ (myinfo | async)?.email }}">{{ (myinfo | async)?.email }}</a></div>
          <div class="contact"><mat-icon>location_on</mat-icon><a href="{{ (myinfo | async)?.map }}" target="_blank">{{ (myinfo | async)?.address }}</a></div>
        </div>
      </div>
      <div class="footer-block">
        <h4>Social</h4>
        <div class="footer-cont social">
          <form [formGroup]="messForm" (ngSubmit)="goMess($event)">
            <textarea placeholder="Message" formControlName="message"></textarea>
            <button mat-button type="submit" *ngIf="messForm.valid">INVIO</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="privacy">
        <a href="{{ (myinfo | async)?.facebook }}" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="{{ (myinfo | async)?.twitter }}" target="_blank">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="{{ (myinfo | async)?.instagram }}" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div class="social">
        <div [innerHTML]="html"></div>
      </div>
    </div>
  </div>
</footer>