<mat-dialog-content>
  <div class="prod-newo">
    <form class="prod-fiel" [formGroup]="event">
      <div class="card-tool">
        <button mat-icon-button class="uplo-phot" color="accent">
          <mat-icon>add_a_photo</mat-icon>
          <input type="file" name="file" accept="image/*|pdf" multiple (change)="goPhoto($event)">
        </button>
        <mat-slide-toggle formControlName="active"> Online</mat-slide-toggle>
        <button mat-icon-button color="accent" (click)="okDelete()"><mat-icon>delete</mat-icon></button>      
      </div>
      <div class="flex">
        <mat-form-field class="flex1">
          <input matInput placeholder="Url" formControlName="url">
        </mat-form-field>
        <mat-form-field class="flex2">
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
      </div>
      <mat-form-field class="flex2">
        <textarea matInput rows="10" placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <div class="flex">
        <div class="butt-what">
          <mat-button-toggle-group #what="matButtonToggleGroup" vertical>
            <mat-button-toggle value="grid" matTooltip="Grid" matTooltipPosition="below" checked="true">
                <mat-icon>grid_on</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="flex1">
          <div class="flex">
            <div class="flex1">
              <mat-button-toggle-group #grid="matButtonToggleGroup" formControlName="gridr">
                <mat-button-toggle value="1" matTooltip="row" matTooltipPosition="below">1</mat-button-toggle>
                <mat-button-toggle value="2" matTooltip="row" matTooltipPosition="below">2</mat-button-toggle>
                <mat-button-toggle value="3" matTooltip="row" matTooltipPosition="below">3</mat-button-toggle>
                <mat-button-toggle value="4" matTooltip="row" matTooltipPosition="below">4</mat-button-toggle>
              </mat-button-toggle-group>      
            </div>
            <div class="flex1">
              <mat-button-toggle-group #grid="matButtonToggleGroup" formControlName="gridc">
                <mat-button-toggle value="1" matTooltip="col" matTooltipPosition="below">1</mat-button-toggle>
                <mat-button-toggle value="2" matTooltip="col" matTooltipPosition="below">2</mat-button-toggle>
                <mat-button-toggle value="3" matTooltip="col" matTooltipPosition="below">3</mat-button-toggle>
                <mat-button-toggle value="4" matTooltip="col" matTooltipPosition="below">4</mat-button-toggle>
              </mat-button-toggle-group>      
            </div>
          </div>
        </div>
      </div>

    </form>
    <div class="prod-uplo">
      <div class="imag-cont">
        <div *ngIf="loading"><mat-spinner class="spinner"></mat-spinner></div>
        <div class="imag-prod" *ngIf="cover"><img src="{{baseurl}}event%2F{{cover}}?alt=media" alt=""></div>
        <div class="imag-prod" *ngIf="!cover"><img src="assets/placeholder.gif" alt=""></div>
      </div>
    </div>
  </div>  
</mat-dialog-content>
<mat-card-actions class="toolaction">
  <button mat-button matDialogClose color="primary">CLOSE</button>
  <button mat-button (click)="goSave()" color="primary">SAVE</button>
</mat-card-actions>