<mat-dialog-content>
  <div class="prod-newo">
  <form class="prod-fiel" [formGroup]="work">
    <div class="card-tool">
      <button mat-button class="uplo-phot" color="accent">
        <mat-icon>add_a_photo</mat-icon>
        <input type="file" name="file" accept="image/*|pdf" multiple (change)="goPhoto($event)">
      </button>
      <mat-slide-toggle formControlName="active"> Online</mat-slide-toggle>
      <button mat-button color="accent" (click)="workDelete()"><mat-icon>delete</mat-icon></button>      
    </div>
    <div class="flex">
      <mat-form-field>
        <input matInput placeholder="Event" formControlName="event">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Url" formControlName="url">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <div class="flex">
      <mat-form-field>
        <input matInput type="number" placeholder="Price €" formControlName="price">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Discount %" formControlName="discount">
      </mat-form-field>
    </div>
    <mat-form-field class="flex2">
      <textarea matInput rows="10" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
  </form>
  <div class="prod-uplo">
    <div class="imag-cont">
      <div *ngIf="loading">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
      <mat-radio-group [(ngModel)]="cover">
        <div class="imag-prod" *ngFor="let photo of photos | async;">
          <div class="imag-head">
            <mat-radio-button class="imag-cove" vlaue="photo.id" (click)="myCover(photo)">
              <span>cover</span>
            </mat-radio-button>
            <button mat-icon-button (click)="imgDelete(photo)"><mat-icon>delete</mat-icon></button>      
          </div>
          <img src="{{baseurl}}work%2F{{photo.id}}?alt=media" alt="">
        </div>
      </mat-radio-group>
    </div>
  </div>
  </div>
</mat-dialog-content>
<mat-card-actions class="toolaction">
  <button mat-button matDialogClose color="primary">CLOSE</button>
  <button mat-button (click)="goSave()" color="primary">SAVE</button>
</mat-card-actions>