<mat-dialog-content>
  <form [formGroup]="myinfo">
    <mat-form-field>
      <input matInput placeholder="Phone" (focusout)="upWork()" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" (focusout)="upWork()" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" (focusout)="upWork()" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Map" (focusout)="upWork()" formControlName="map">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Facebook" (focusout)="upWork()" formControlName="facebook">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Twitter" (focusout)="upWork()" formControlName="twitter">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Instagram" (focusout)="upWork()" formControlName="instagram">
    </mat-form-field>
    <mat-form-field class="flex2">
      <textarea matInput rows="10" placeholder="Social" (focusout)="upWork()" formControlName="social"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>