<div class="work-main container">
    <div class="work-cont">
        <div class="work-side">
            <div class="side-imag"
                *ngFor="let photo of photos | async">
                <img (click)="myCover(photo.id)" src="{{baseurl}}work%2F{{photo.id}}?alt=media" alt="">
            </div>
        </div>
        <div class="work-imag">
            <button *ngIf="imlogin" md-icon-button class="btn-set" (click)="workSett()"><md-icon>settings_ethernet</md-icon></button>
            <img src="{{baseurl}}work%2F{{photo}}?alt=media" alt="" (click)="zoomWork(baseurl+'work%2F'+photo+'?alt=media')">
            <!-- <div class="work-buyt work-buyt1" *ngIf="(work | async)?.price">
                <button md-button (click)="goCart()">
                    BUY &#8364;<span>38,-</span><span>50% discount</span>
                </button>
            </div> -->
        </div>
        <div class="work-info">
            <button class="goback" md-button routerLink="/{{(work | async)?.event}}"><md-icon>chevron_left</md-icon> {{ (work | async)?.event }}</button>
            <h1>{{ (work | async)?.title }}</h1>
            <div [innerHTML]="(work | async)?.description"></div>
            <div class="work-buyt work-buyt1" *ngIf="(work | async)?.price">
                <!-- <md-select placeholder="Size">
                    <md-option *ngFor="let size of sizes" [value]="size">{{ size }}</md-option>
                </md-select> -->
                <button md-button (click)="goCart()">
                    <span>BUY € {{(work | async)?.price}}</span>
                    <span *ngIf="(work | async)?.discount">{{(work | async)?.discount}}% discount</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>