<div class="work-main container">
    <div class="work-cont wrapper">
        <div class="work-side">
            <div class="side-imag" *ngFor="let photo of photos | async">
                <img (click)="myCover(photo.id)" src="{{baseurl}}work%2F{{photo.id}}?alt=media" alt="">
            </div>
        </div>
        <div class="work-imag">
            <button *ngIf="imlogin" mat-icon-button class="btn-set" (click)="workSett()"><mat-icon>settings_ethernet</mat-icon></button>
            <img src="{{baseurl}}work%2F{{photo}}?alt=media" alt="" (click)="zoomWork(baseurl+'work%2F'+photo+'?alt=media')">
        
            <div class="work-buyt work-buyt2" *ngIf="(work | async)?.price">
                <button mat-button (click)="goCart()">
                    <span>BUY € {{(work | async)?.price}}</span>
                    <span *ngIf="(work | async)?.discount">{{(work | async)?.discount}}% discount</span>
                </button>
            </div>
        
        
        </div>
        <div class="work-info">
            <button class="goback" mat-button routerLink="/{{(work | async)?.event}}"><mat-icon>chevron_left</mat-icon> {{ (work | async)?.event }}</button>
            <h1>{{ (work | async)?.title }}</h1>
            <div [innerHTML]="(work | async)?.description"></div>
            <div class="work-buyt work-buyt1" >
                <button mat-button (click)="goCart()">
                    <span>BUY € {{calculatePrice((work | async)?.price, (work | async)?.discount)}}</span>
                    <span> ({{(work | async)?.discount}}% discount)</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>