<div class="cart-cont">
  <div class="cart-item" *ngFor="let product of cartlist">
    <img routerLink="/{{product.event}}/{{product.url}}" src="{{baseurl}}work%2F{{product.cover}}?alt=media" alt="">
    <div class="item-info">
      <div class="flex">
        <div routerLink="/{{product.event}}/{{product.url}}" class="info-tito">{{product.title}}</div>
        <button mat-icon-button matTooltip="Remove" matTooltipPosition="right" (click)="removeCart(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="info-butt">
        <!-- <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="1" checked="true">
            <mat-icon>looks_one</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="2">
            <mat-icon>looks_two</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="3">
            <mat-icon>looks_3</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="4">
            <mat-icon>looks_4</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group> -->
        <div class="info-pric">&#8364; {{calculatePrice(product.price, product.discount)}}</div>
      </div>
    </div>
  </div>

  <h3><span id="totalprice">{{paypalprice}}</span> Euro</h3>

  <div id="paypal-button" [ngClass]="{'hide': !totalprice}"></div>
  
</div>