<div class="side-cont">
  <div class="loguser">
    <button md-button class="cart" routerLink="/cart">
      <span>{{cart.length}}</span>
      <md-icon>shopping_cart</md-icon>
    </button>
    <button md-icon-button (click)="goLogin()" *ngIf="!imlogin">
      <md-icon>account_circle</md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="imlogin">
      <md-icon>account_circle</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="message">
        <md-icon>mail</md-icon>
        <span>Message</span>
      </button>
      <button md-menu-item (click)="goEven()">
        <md-icon>bookmark</md-icon>
        <span>Event</span>
      </button>
      <button md-menu-item (click)="goProd()">
        <md-icon>work</md-icon>
        <span>Work</span>
      </button>
      <button md-menu-item (click)="goLogout()">
        <md-icon>person</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
