<div class="side-cont">
  <div class="loguser">
    <button mat-button class="cart" routerLink="/cart">
      <span>{{cart.length}}</span>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button (click)="goLogin()" *ngIf="!imlogin">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="imlogin">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="message">
        <mat-icon>mail</mat-icon>
        <span>{{notread}} Message</span>
      </button>
      <button mat-menu-item (click)="goEven()">
        <mat-icon>bookmark</mat-icon>
        <span>Event</span>
      </button>
      <button mat-menu-item (click)="goProd()">
        <mat-icon>work</mat-icon>
        <span>Work</span>
      </button>
      <button mat-menu-item (click)="goLogout()">
        <mat-icon>person</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
