<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
  <mat-form-field>
    <input matInput formControlName="email" type="email" placeholder="Email" email>
    <mat-hint *ngIf="error_email">Email not correct</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password">
    <mat-hint *ngIf="error_password">Password not correct</mat-hint>
  </mat-form-field>
  <button mat-button type="submit">Log in</button>
</form>
