<div class="home-grid" *ngIf="!onmobile; else elseMobile">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile
      *ngFor="let item of gridlist | async" 
      class="grid-item"
      [colspan]="item.gridc"
      [rowspan]="item.gridr">
      <div class="item-back" 
      [routerLink]="[item.url]" 
      [ngStyle]="{'background': 'url(' + baseurl + 'event%2F' + item.cover + '?alt=media) center / cover'}"></div>
      <span class="grid-tito" [routerLink]="[item.url]">{{item.title}}</span>
      <button *ngIf="imlogin" mat-icon-button class="btn-set" (click)="prodSett(item.$key)"><mat-icon>settings_ethernet</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #elseMobile>
  <div class="home-grid">
    <mat-grid-list cols="2">
      <mat-grid-tile
        *ngFor="let item of gridlist | async" 
        class="grid-item"
        [colspan]="2"
        [rowspan]="1"
        [ngStyle]="{'background': 'url(' + baseurl + 'event%2F' + item.cover + '?alt=media) center / cover'}">
        <span class="grid-tito" [routerLink]="[item.url]">{{item.title}}</span>
        <button *ngIf="imlogin" mat-icon-button class="btn-set" (click)="prodSett(item.$key)"><mat-icon>settings_ethernet</mat-icon></button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>



